<section class="example-container mat-elevation-z8" tabindex="0">
  <table
    mat-table
    [dataSource]="dataSource"
    *ngIf="dataSource && displayedColumn"
    class="mat-elevation-z8"
  >
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- Columns -->
    <ng-container *ngFor="let item of displayedColumn" [matColumnDef]="item">
      <th
        class="text-center font-Bold-s22 text-Gray85"
        mat-header-cell
        *matHeaderCellDef >
        {{ item | titlecase }}
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="text-center font-SemiBold-s20 text-break text-nowrap"
        [ngClass]="element[item] == element.walite ? 'text-main' : 'text-black'"
      >
        {{ element[item] || (element.walite | currency) }}
      </td>
    </ng-container>
  
  
    <!-- Action Column -->
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef class="text-center font-Bold-s22 text-Gray85"> Action </th>
      <td mat-cell *matCellDef="let element" class="text-center font-SemiBold-s20 text-break text-nowrap">
        <div class="d-flex align-items-center gap-3">
          <p class="m-0 cursor-click d-flex gap-2 align-items-center"
          [routerLink]="Router + '/' + element.id">
          <i class="IC-edit d-flex img-Background-Cover iC-S20"></i>
          Edit
        </p>
        <p class="m-0 cursor-click d-flex gap-2 align-items-center"
          data-bs-toggle="modal" data-bs-target="#alertPopup" (click)="deleteEl(element.id)">
          <i class="IC-delete d-flex img-Background-Cover iC-S16-20"></i>
          Delete
        </p>
      </div>
    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
  mat-row
  *matRowDef="let row; columns: displayedColumns"
  (click)="selection.toggle(row)"
  ></tr>
</table>
</section>

<app-alert-popup [TFE]="TFE" [id]="deleteId" (yes)="Delete.emit($event)"></app-alert-popup>
